<dx-chart
  palette="soft"
  [dataSource]="dataSource">
  <dxi-series valueField="oil" name="Oil Production"></dxi-series>
  <dxi-series valueField="gas" name="Gas Production"></dxi-series>
  <dxi-series valueField="coal" name="Coal Production"></dxi-series>
  <dxo-common-series-settings
    argumentField="state"
    type="bar"
    [ignoreEmptyPoints]="true">
  </dxo-common-series-settings>
  <dxo-title text="Percent of Total Energy Production"></dxo-title>
  <dxo-legend
    verticalAlignment="bottom"
    horizontalAlignment="center">
  </dxo-legend>
  <dxo-export [enabled]="true"></dxo-export>
</dx-chart>
