<dx-chart 
    id="chart"
    [title]="title"
    [dataSource]="dataSource">
    <dxi-series
        valueField="mass"
        argumentField="name"
        type="bar">
    </dxi-series>
    <dxi-value-axis 
        [visible]="true"
        [autoBreaksEnabled]="autoBreaksEnabledValue"
        [maxAutoBreakCount]="breaksCountValue">
        <dxo-break-style 
            [line]="lineStyleValue">
        </dxo-break-style>
    </dxi-value-axis>
    <dxo-legend [visible]="false">
    </dxo-legend>
    <dxo-tooltip [enabled]="true">
    </dxo-tooltip>
</dx-chart>
