<!-- <app-new-bar-chart></app-new-bar-chart> -->
<!-- <app-bar-chart></app-bar-chart> -->
<!-- <app-standard-bar-chart></app-standard-bar-chart> -->
<!-- <app-side-by-side-bar-chart></app-side-by-side-bar-chart> -->
<!-- <app-stacked-bar-chart></app-stacked-bar-chart> -->
<!-- <app-full-stacked-bar-chart></app-full-stacked-bar-chart> -->
<!-- <app-side-by-side-stacked-bar></app-side-by-side-stacked-bar> -->
<!-- <app-side-by-side-full-stacked-bar></app-side-by-side-full-stacked-bar> -->
<!-- <app-auto-calculated-bar-width-chart></app-auto-calculated-bar-width-chart> -->
<!-- <app-custom-bar-width-chart></app-custom-bar-width-chart> -->
<!-- <app-color-each-bar-differently></app-color-each-bar-differently> -->
<app-customize-points-and-labels></app-customize-points-and-labels>