<!-- <app-simple-array></app-simple-array> -->
<!-- <app-record-paging></app-record-paging> -->
<!-- <app-column-customization></app-column-customization> -->
<!-- <app-grid-summaries></app-grid-summaries> -->
<!-- <app-grid-export></app-grid-export> -->
<app-standard-bar></app-standard-bar>
<app-side-by-side-bar-chart></app-side-by-side-bar-chart>
<app-stacked-bar></app-stacked-bar>
<app-full-stacked-bar></app-full-stacked-bar>
<app-side-by-side-stacked-bar></app-side-by-side-stacked-bar>
<app-side-by-side-full-stacked-bar></app-side-by-side-full-stacked-bar>
<app-auto-calculated-bar-width></app-auto-calculated-bar-width>
<app-custom-bar-width></app-custom-bar-width>
<app-color-each-bar-differently></app-color-each-bar-differently>
<app-customize-points-and-labels></app-customize-points-and-labels>
